.container__midias {
  width: 100%;
  height: 100vh;
}

.container__midias h2{
  color: var(--title);
  margin-bottom: 2rem;
  text-align: center;
}

.container__midias__data {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__midias__data__content {
  height: 200px;
  width: 90%;

  background-color: var(--foreground);
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1.135rem;
}

.container__midias__data__figure {
  text-align: center;
}

.container__midias__data__content p {
  color: var(--text);
  letter-spacing: 1px;
  text-align: center;
  margin: 1rem;
}

.container__midias__data__content a {
  text-decoration: none;
  color: var(--theme-light);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.5rem;
  text-align: center;
  height: 3rem;
  background-color: var(--background);
  border-radius: 1rem;
  border: 2px solid var(--foreground);
}

.container__midias__data__content a:hover {
  background-color: var(--hovereffects);
  border: 2px solid var(--background);
  transition: all 1s ease;
}

@media (min-width: 1024px) {
  .container__midias__data {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container__midias__data__content {
    width: 30%;
    margin-left: 1rem;
  }
}