:root {
  --theme-light: #FFFFFC;
  --theme-dark: #000000;
  --background: #2C3333;
  --foreground: #2E4F4F;
  --title: #0E8388;
  --text: #CBE4DE;
  --hovereffects: #1F8A70;
  --highlight: #00425A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--theme-dark);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text);
}

.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /*grid-template-columns: 1fr 2fr;*/
}

.sidebar {
  width: 20%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.container__content {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar-track {
  background-color: var(--foreground);
}
::-webkit-scrollbar {
  width: 2px;
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--highlight);
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}