.container__tecnologie__title h2 {
  text-align: center;
  color: var(--title);
}

.container__technologie {
  margin-left: 1rem;
  padding: 1rem;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__technologie__content {
  width: auto;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding: 2rem;
}

.figure__technologie {
  width: 200px;
  height: 200px;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  box-sizing: border-box;
  background-color: var(--foreground);
  border-radius: 1.165rem;
}

.figure__technologie:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 100px var(--hovereffects);
  transition: all 1s ease;
}

.figure__technologie img {
  border: 2px solid var(--theme-dark);

  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
}

.figure__technologie label {
  color: var(--theme-light);
  margin-top: 1rem;
  font-size: 1.225rem;
  font-weight: 600;
  letter-spacing: 1px;
}

::-webkit-scrollbar-track {
  background-color: var(--foreground);
}
::-webkit-scrollbar {
  width: 3px;
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--highlight);
}

::-webkit-scrollbar-corner {
  width: 3px;
}

@media (min-width: 1024px) {
  .container__technologie__content {
    overflow-y: hidden;
    height: auto;
  }
}