.container__home {
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container__home .container__home__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container__home .container__home__figure img {
  border-radius: 50%;
  padding: 1rem;
  border: 2px var(--foreground) solid;
  -webkit-box-shadow: -1px -1px 43px 5px var(--foreground); 
  box-shadow: -1px -1px 43px 5px var(--foreground);

  height: 50%;
}

.container__home h2 {
  color: var(--title);
  margin-top: 1rem;
}

.container__home .container__home__article {
  margin-bottom: 1rem;
}

.container__home .container__home__article p {
  color: var(--text);
  padding: 1rem;
}