.navbar {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100vh;

  overflow: hidden;
}

.navbar h2 {
  text-align: center;
  color: var(--title);
}

.navbar__list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.navbar__list-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.navbar__list__listItem-icon {
  color: var(--title);
}

.navbar__list__listItem {
  color: var(--text);
  padding: 1.5rem;
  width: 100%;
}

.navbar__list__listItem:hover {
  background-color: var(--foreground);
  transition: all 2s ease;
}

.navbar__list__listItem a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.row > span {
  padding: 2rem;
}


@media (min-width: 1024px) {
  .navbar .btn-expandir {
    display: none;
  }
}

@media (max-width: 1024px) {
  .navbar__list-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__list__listItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__list__listItem a span {
    display: none;
  }
}