.container__about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 1rem;
  margin-top: 20rem;
}

.container__about h2 {
  color: var(--title);
}

.container__about .container__about__text {
  background: var(--highlight);
  border-radius: 1.125rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  -webkit-box-shadow: 0px 0px 100px 0px var(--foreground); 
  box-shadow: 0px 0px 100px 0px var(--foreground);
}

.container__about .container__about__text p {
  text-align: justify;
  line-height: 1.75rem;
  letter-spacing: 1px;
  color: var(--text);
}

.container__about__academy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.container__about__academy__banner h2 {
  color: var(--title);
}

.container__about__academy__banner {
  height: 300px;
  width: 300px;
  margin: 1rem;

  background-color: var(--background);
  border-radius: 1.135rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__about__academy__banner span {
  color: var(--text);
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.container__about__academy__banner-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container__about__academy__banner-row p {
  color: var(--text);
}

.container__about__academy__banner-row span{
  margin: 1rem;
}

@media (min-width: 1024px) {
  .container__about {
    height: 100vh;
  }

  .container__about .container__about__text {
    width: 650px;
  }

  .container__about__academy {
    overflow-y: hidden;
  }
}